<h1>Name: <%= @shelter.name %></h1><br>
<p>Address: <%= @shelter.address %></p><br>
<p>City: <%= @shelter.city %></p><br>
<p>State: <%= @shelter.state %></p><br>
<p>Zip: <%= @shelter.zip %></p><br>

<%= link_to "#{@shelter.name}'s Available Pets", "/shelters/#{@shelter.id}/pets"%><br>

<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit"%><br>

<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}/", method: :delete%><br>

<h1>Reviews</h1>
<% @shelter.reviews.each do |review| %>
  <%= review.id %>
  <%= review.title %>
  <%= review.rating %>
  <%= review.content %>
  <%= review.picture %>
  <%= link_to 'Edit', "/reviews/#{review.id}/edit" %>
<% end %>
