<h1><%= @application.name%>'s Application</h1></br>

Name: <%= @application.name %>
Address: <%= @application.address%>
City: <%= @application.city%>
State: <%= @application.state%>
Zip: <%= @application.zip%>
Phone Number: <%= @application.phone_number%>
Description of why the applicant says they'd be a good home for this pet(s)<%= @application.description%>
Pets:
<%= form_tag "/applications/#{@application.id}", method: :patch  do %>
<% @application.pets.each do |pet| %>
  <section id='application-<%=pet.id%>'>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <%if pet.adoptable? %>
    <%= link_to "Approve Application for #{pet.name}", "/applications/#{@application.id}/pets/#{pet.id}", method: :patch %>
  <% else %>
    <%= link_to "Unapprove Application For #{pet.name}", "/applications/#{@application.id}/pets/#{pet.id}", method: :delete %>
  <% end %>

  <%= check_box_tag "select_pet[]", pet.id %>
  </section>
<%end%>
<%= submit_tag 'Approve All Selected Pets' %>
<% end %>
