<h1>All Pets</h1><br><br>

<% @pets.each do |pet| %><br>
  <%= image_tag("#{pet.image}", :size => "260x180") %><br>
  <p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></P><br>
  <p>Age: <%= pet.age %></p><br>
  <p>Sex: <%= pet.sex %></p><br>
  <p>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p><br>
  <%= link_to "Edit Pet #{pet.name}", "/pets/#{pet.id}/edit" %><br>
  <%= link_to "Delete Pet #{pet.name}", "/pets/#{pet.id}", method: :delete %><br>
<% end %>
