<h1><%= @pet.name %></h1>
<%= image_tag("#{@pet.image}", :size => "260x180") %><br><br>
<p>Name: <%= @pet.name %></p><br>
<p>Age: <%= @pet.age %></p><br>
<p>Sex: <%= @pet.sex %></p><br>
<p>Description: <%= @pet.description %></p><br>
<p>Shelter: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %></p><br>
<p>Status: <%= @pet.adoption_status %></p><br>
<% if @pet.adoption_status == "Pending" %>

  On hold for <%=link_to "#{@pet.approved_application.name}", "/applications/#{@pet.approved_application.id}"%>
<%end%>

  <% if favorites.pet_check(@pet.id.to_s) == false%>
   <%=link_to 'Favorite Pet', "/favorite/#{@pet.id}", method: :patch %><br>
  <% else%>
    <%=link_to 'Remove Favorite', "/favorite/#{@pet.id}", method: :delete %><br>
  <%end%>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %><br>
<%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %><br><br><br>

<% if @pet.has_no_applications? %>
    There are no applications for this pet... Yet
  <% else %>
    <%= link_to 'View All Applications', "/pets/#{@pet.id}/applications"%>
  <% end %>
