<h1><%= @pet.name %></h1>
<%= image_tag("#{@pet.image}", :size => "260x180") %><br><br>
<p>Name: <%= @pet.name %></p><br>
<p>Age: <%= @pet.age %></p><br>
<p>Sex: <%= @pet.sex %></p><br>
<p>Description: <%= @pet.description %></p><br>
<p>Shelter: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %></p><br>
<p>Status: <%= @pet.adoption_status %></p><br>

<%= link_to 'Favorite', "/favorite/#{params[:id]}", method: :patch %><br>
<%= link_to 'Update Pet', "/pets/#{params[:id]}/edit" %><br>
<%= link_to 'Delete Pet', "/pets/#{params[:id]}", method: :delete %><br>
