<h1>Bring Home Your New Best Friend!!! </h1>


<%= form_tag "/application", method: :post  do %>
  <% @pets.each do |pet| %>
    <section id='pet-<%= pet.id %>'>
      <%= image_tag("#{pet.image}", :size => "260x180") %><br><br>
      <p>Name: <%= pet.name %></p><br>
      <%= label_tag :adopt %>
      <%= check_box_tag "adopt_pets[]", pet.id %>
    </section>
    <%end%><br><br>

    <%= label_tag :name %><br>
    <%= text_field_tag :name%><br><br>

    <%= label_tag :Address %><br>
    <%= text_field_tag :Address%><br><br>

    <%= label_tag :City %><br>
    <%= text_field_tag :City%><br><br>

    <%= label_tag :State %><br>
    <%= text_field_tag :State%><br><br>

    <%= label_tag :Zip %><br>
    <%= text_field_tag :Zip%><br><br>

    <%= label_tag(:Phone_Number, "Phone Number") %><br>
    <%= text_field_tag :Phone_Number%><br><br>

    <%= label_tag(:Description, "Description of why you'd make a good home for this/these pet(s)") %><br>
    <%= text_field_tag :Description%><br><br>

    <%= submit_tag 'Submit My Application' %>
<% end %>
